body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

/*WEB*/
header {

}



/*HOMEPAGE*/
.home {

}

.refs-cont {

}

.reference {

}

.ref-image-cont {

}

.ref-image-cont img {

}

.ref-text {

}

/*COMMON*/
.row-container {

}

.reverse-row-container {

}